.active-users {

    h2 {
        margin-bottom: 40px;
    }

    span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #212529;
    }

    .table-1 {
        margin-top: 15px;
        margin-bottom: 40px;

        .thead-light {
            th {
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
            }
        }
    }
}